<div class="container ml-2">
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-2  p-0 mt-5 mr-1 ml-1" *ngFor="let sensor of sensors; let index = index" [ngClass] = "{'border-success' : sensor.status, 'border-danger' : !sensor.status}">
            <div class="card-header" [ngClass] = "{'bg-success' : sensor.status, 'bg-danger' : !sensor.status}">{{sensor.id}}</div>
            <div class="card-body">{{sensor.name}}</div>
            <button type="button" (click) = "delete(index)" class="btn btn-secondary m-2">Удалить датчик</button>
        </div>
    </div>
</div>

<div class="container col-sm-12 col-md-6 col-lg-3 mt-5">

    <div class="form-group">
      <label for="exampleInputName">Имя датчика</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Имя датчика" #name>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" #check>
      <label class="form-check-label" for="exampleCheck1">Датчик активен</label>
    </div>
    <button type="submit" (click) = "add(name, check)" class="btn btn-primary">Добавить датчик</button>

</div>

